# Игнорируем виртуальное окружение
venv/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорируем данные модели
tyrion_embeddings.pkl

# Игнорируем зависимости, если есть venv
requirements.txt.lock

# Игнорируем файлы ОС и редакторов
.DS_Store
.vscode/
